.Text {
  position: absolute;
  width: 840px;
  height: 48px;
  left: 298.5px;
  top: 3570.2px;

  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 48px;

  text-align: center;
  text-transform: uppercase;

  color: #4f5255;
}
.Container {
  width: 85vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
