.Heart {
  position: static;
  width: 25.27px;
  height: 23.71px;
  left: 12px;
  top: 13px;
  color: white;
  border-radius: 0.5px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 15px;
  cursor: pointer;
}
