.Header {
  position: absolute;
  width: 1440px;
  height: 88px;
  left: -0.18px;
  top: 39.04px;

  background: linear-gradient(
    180deg,
    rgba(23, 23, 23, 0.78) 0%,
    rgba(56, 56, 56, 0) 100%
  );
}
.ToolbarIcons {
  display: flex;
  flex-direction: row;
  padding: 0px;

  position: absolute;
  width: 92px;
  height: 44px;
  left: 1325.38px;
  top: 32px;
  align-items: center;
}
.Clear {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 1290px;
  top: 42px;
  cursor: pointer;
  background: white;
}
