.Logo {
  position: absolute;
  width: 85.22px;
  height: 31.76px;
  left: 676.32px;
  top: 32.04px;
}
.LogoTxt {
  position: absolute;
  width: 86.77px;
  height: 5.91px;
  left: 676.55px;
  top: 68.13px;
}
