.Img1 {
  position: absolute;
  width: 457.67px;
  height: 583.53px;
  left: 670.55px;
  top: 942.42px;
}
.About1 {
  position: absolute;
  width: 303.5px;
  height: 303.5px;
  left: 774.38px;
  top: 5160.8px;
  border-radius: 4px;
}
.About2 {
  position: absolute;
  width: 303.5px;
  height: 304.92px;
  left: 1105.88px;
  top: 5160.8px;
  border-radius: 4px;
}
