.P1 {
  position: absolute;
  width: 40px;
  height: 26px;
  left: 87.93px;
  top: 6132.17px;
  border: 1px solid #ccc;
}

.P2 {
  position: absolute;
  width: 40px;
  height: 26px;
  left: 133.73px;
  top: 6131.97px;
  border: 1px solid #ccc;
}
.P3 {
  position: absolute;
  width: 40px;
  height: 26px;
  left: 178.93px;
  top: 6132.17px;
  border: 1px solid #ccc;
}
.P4 {
  position: absolute;
  width: 40px;
  height: 26px;
  left: 223.93px;
  top: 6132.17px;
  border: 1px solid #ccc;
}
.P5 {
  position: absolute;
  width: 40px;
  height: 26px;
  left: 268.93px;
  top: 6132.17px;
  border: 1px solid #ccc;
}
